/* 1.Vị trí
2.Kích thước
3.Màu sắc
4.Kiểu dáng:tròn, vuông */

/* 1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Từ Tổng thể đến chi tiết */

/* Come */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
.clear{
    clear: both;
}
.text-white{
    color: #fff !important;
}
.mt-8{
    margin-top: 8px;
}

.mt-16{
    margin-top: 16px;
}
.pull-right{
    float: right !important;
}
.btn {
    /* margin: 15px 0; */
    background-color: #000;
    padding: 8px 16px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    border: none;
}
.btn:hover {
    cursor: pointer;
    color: #000;
    background-color: #757575;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.col{
    float: left;
    padding-left:8px;
    padding-right: 8px;
}
.col-three{
    width: 33.3333%;
}
.col-half{
    width: 50%;
}
.col-full{
    width: 100%;
}
.text-center{
    text-align: center !important;
}
/* Main */
#main{

}

#header{

    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

}
#nav{
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav >li{
    display: inline-block;
}
#nav li{
    position: relative;
}
#nav > li >a {
    color:aliceblue;
    text-transform: uppercase;
}
#nav li a{
    line-height: 46px;
    
    text-decoration: none;
    padding: 0 24px;
    display: block;

}
#nav li:hover .subnav{
    display: block;
}
#nav > li:hover > a ,
#nav .subnav li:hover a {
    color: #000;
    background-color: darkgray;
}


#nav .subnav{
    display: none;
    min-width: 160px;
    position: absolute;
    background-color: #fff;
    box-shadow:0 0 10px rgba(0, 0,0, 0.5);/* Độ mờ viền */
    top:100%;
    left: 0;
}
#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav .nav-arrow-down{
    font-size: 14px;
}

#header .search-btn{
    float: right;
    padding: 0 21px;
    }
#header .search-btn:hover{
    background-color: #f44336;
    cursor: pointer;

}
#header .search-icon{
    font-size: 20px;
    color: #fff;line-height: 46px;
}
#slider{
   margin-top: 46px;
   padding-top: 50%;/* Kích thước chiều cao của chính nó */
   background: url('/assets/img/chicago.jpg') top center / cover fixed;
   position: relative;
}

#slider .text-content{
    color: #fff;
    position: relative;
    bottom: 50px;
    width: 100%;
    text-align: center;

}
#slider .text-heading{
    font-size: 24px;
    font-weight: 500;

}
#slider .text-description{
    font-size: 15px;
    margin-top: 20px;


}

#content{


}
#content .content-section{
    
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0 112px;
    /* min-height: 500px; */
}
#content .content-heading{
    text-align: center;
    letter-spacing: 4px;
    font-weight: 500;
    font-size: 30px;




}
#content .content-sub-heading{
    text-align: center;
    font-size: 15px;
    margin-top: 25px;
    font-style: italic;/*Phong cách */
    color: darkgray;
    
}
#content .about-text{
    font-size: 15px;
    margin-top: 20px;
    text-align: justify;/* Căn chỉnh độ dài các dòng = nhau */
    line-height: 1.6;

}
#content .members-list{
    /* float: left; */
    margin-top: 48px;
    /* text-align: center; */
}



#content .members-name{
    font-size: 15px;

}
#content .members-img{
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;/* Bo viền */
}

#content .tour-section{
    background-color: #000;
}
.stickets-list{
    background-color: #fff;
    font-size: 15px;
    /* border-bottom: 1px solid #ddd; */
    margin-top: 40px;
    list-style: none;/* Bỏ chấm tròn trong thẻ li */
}
.stickets-list li{
    color: #757575;
    border-bottom: 1px solid #ddd;
    padding: 11px 16px;

}
.stickets-list .sold-out{
    background-color: red;
    padding: 3px 4px;
    margin-left: 15px;
    color:#fff;
}

.stickets-list .quantily{
    color: #fff;
    background-color: #000;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 24px;
    float: right ;/* Khi float thì thẻ div có dạng block nên sẽ có width height */
    margin-top: -3px;
}
/* Places */

.places-list{
    margin-top: 32px;
    /* margin-bottom: 0px; */
    /* margin:32px -8px 0; */
    /* margin-bottom:48px ; */
}
.place-item{
    /* float: left; */
    /* width: 33.33333%; */
    /* padding: 0 8px; */

}
.place-img{
    width: 100%;
    /* padding: 0 8px; */
    display: block;
}
.place-img:hover{
    opacity: 0.6;
}
.place-body{
    background-color: #fff;
    padding: 16px;
    font-size: 15px;
    

}
.place-heading{
    font-size: 15px;
    font-weight: 600;
}
.place-time{
    margin-top: 15px ;
    opacity: 0.5;

}
.place-desc {
    margin-top:15px;
    line-height: 1.4;

}

.contact-content{
    margin-top: 47px;
}

.contact-info{
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"]{
    /* width: 30px; */
    /* display: inline-block; */
}

.contact-form{
    font-size: 15px;

}
.contact-form .form-control{
    padding: 11px;
    border: 1px solid #ccc;
    width: 100%;
}

/* Map */
.map-section img{
    width: 100%;
}

#footer{
    padding: 64px 16px;
    font-size: 15px;
}
#footer .socials-list >a {
   font-size: 24px;
   color: rgba(0, 0,0, 0.6);
   text-decoration: none;

}
#footer .footer-link a:hover,
#footer .socials-list >a:hover {
    opacity: 0.6;
}
/* #footer .socials-list p a{
    font-size: 15px;
   color: rgba(0, 0,0, 0.6);
    
    
} */

#footer .footer-link{
    margin: 15px 0;
   color: rgba(0, 0,0, 0.6);
}
#footer .footer-link a{
    margin: 15px 0;
   color: rgba(0, 0,0, 0.6);
}